<% layout('layout/layout')%>

        <div class="visual">
            <div class="gallery">
                <ul>
                    <li class="link1"> <img src="images/img-1.jpg" alt="img-1"> </li>
                    <li class="link2"> <img src="images/img-2.jpg" alt="img-2"> </li>
                    <li class="link3"> <img src="images/img-3.jpg" alt="img-3"> </li>
                    <li class="link4"> <img src="images/img-4.jpg" alt="img-4"> </li>
                </ul>
            </div>
            <!-- gallery e -->
            <div class="dock"> <span class="mbutton btn1"></span> <span class="mbutton btn2"></span> <span class="mbutton btn3"></span> <span class="mbutton btn4"></span> <span class="ps"></span> </div>
            <!-- doock e -->
        </div>
        <!--//visual banner-->
        <!--contents-->
        <div class="contents">
            <!--DOMESTICS-->
            <div class="type">
                <div class="type_title">
                    <h3 class="float_left">DOMESTICS</h3>
                    <h3 class="float_right"><a href="">+MORE</a></h3> </div>
                <!--slide_gallery_box-->
                <div id="domestics_box" class="slide_gallery_box">
                    <div class="slide_gallery">
                        <ul>
                            <!--Lease-->
                            <li> 
                               <div class="mark">
                                   <p>Lease</p>
                               </div> 
                               <img class="product" src="images/slide1.png" alt="">
                                <div class="brand">
                                    <p class="car_name"><img src="images/porsche.png" alt="porsche"> <span class="brand_name">Porsche</span> 2017 Panamera</p>
                                </div>
                                <div class="car_price">
                                    <p><span class="kinds">선수금</span><span class="rate">30%</span><span class="price">m 350,000~</span></p>
                                    <p><span class="kinds">보증금</span><span class="rate">30%</span><span class="price">m 470,000~</span></p>
                                    <p><span class="kinds">무보증</span><span class="rate"></span><span class="price">m 350,000~</span></p>
                                </div>
                            </li>
                            <!--//Lease-->
                            <!--Rent-->
                            <li> 
                               <div class="mark">
                                   <p>Rent</p>
                               </div> 
                               <img class="product" src="images/slide1.png" alt="">
                                <div class="brand">
                                    <p class="car_name"><img src="images/porsche.png" alt="porsche"> <span class="brand_name">Porsche</span> 2017 Panamera</p>
                                </div>
                                <div class="car_price">
                                    <p><span class="kinds">선수금</span><span class="rate">30%</span><span class="price">m 350,000~</span></p>
                                    <p><span class="kinds">보증금</span><span class="rate">30%</span><span class="price">m 470,000~</span></p>
                                    <p><span class="kinds">무보증</span><span class="rate"></span><span class="price">m 350,000~</span></p>
                                </div>
                            </li>
                            <!--//Rent-->
                            <li> 
                               <div class="mark">
                                   <p>Lease</p>
                               </div> 
                               <img class="product" src="images/slide1.png" alt="">
                                <div class="brand">
                                    <p class="car_name"><img src="images/porsche.png" alt="porsche"> <span class="brand_name">Porsche</span> 2017 Panamera</p>
                                </div>
                                <div class="car_price">
                                    <p><span class="kinds">선수금</span><span class="rate">30%</span><span class="price">m 350,000~</span></p>
                                    <p><span class="kinds">보증금</span><span class="rate">30%</span><span class="price">m 470,000~</span></p>
                                    <p><span class="kinds">무보증</span><span class="rate"></span><span class="price">m 350,000~</span></p>
                                </div>
                            </li>
                            <li> 
                               <div class="mark">
                                   <p>Rent</p>
                               </div> 
                               <img class="product" src="images/slide1.png" alt="">
                                <div class="brand">
                                    <p class="car_name"><img src="images/porsche.png" alt="porsche"> <span class="brand_name">Porsche</span> 2017 Panamera</p>
                                </div>
                                <div class="car_price">
                                    <p><span class="kinds">선수금</span><span class="rate">30%</span><span class="price">m 350,000~</span></p>
                                    <p><span class="kinds">보증금</span><span class="rate">30%</span><span class="price">m 470,000~</span></p>
                                    <p><span class="kinds">무보증</span><span class="rate"></span><span class="price">m 350,000~</span></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="sub_menu_box"> <img class="menu2 button" src="images/btn_prev.png" alt=""> <img class="menu1 button" src="images/btn_next.png" alt=""> </div>
                </div>
                <!--//slide_gallery_box-->
            </div>
            <!--//DOMESTICS-->
            <!--IMPORTED-->
            <div class="type">
                <div class="type_title">
                    <h3 class="float_left">IMPORTED</h3>
                    <h3 class="float_right"><a href="">+MORE</a></h3> </div>
                <!--slide_gallery_box-->
                <div id="imported_box" class="slide_gallery_box">
                    <div class="slide_gallery">
                        <ul>
                            <!--Lease-->
                            <li> 
                               <div class="mark">
                                   <p>Lease</p>
                               </div> 
                               <img class="product" src="images/slide1.png" alt="">
                                <div class="brand">
                                    <p class="car_name"><img src="images/porsche.png" alt="porsche"> <span class="brand_name">Porsche</span> 2017 Panamera</p>
                                </div>
                                <div class="car_price">
                                    <p><span class="kinds">선수금</span><span class="rate">30%</span><span class="price">m 350,000~</span></p>
                                    <p><span class="kinds">보증금</span><span class="rate">30%</span><span class="price">m 470,000~</span></p>
                                    <p><span class="kinds">무보증</span><span class="rate"></span><span class="price">m 350,000~</span></p>
                                </div>
                            </li>
                            <!--//Lease-->
                            <!--Rent-->
                            <li> 
                               <div class="mark">
                                   <p>Rent</p>
                               </div> 
                               <img class="product" src="images/slide1.png" alt="">
                                <div class="brand">
                                    <p class="car_name"><img src="images/porsche.png" alt="porsche"> <span class="brand_name">Porsche</span> 2017 Panamera</p>
                                </div>
                                <div class="car_price">
                                    <p><span class="kinds">선수금</span><span class="rate">30%</span><span class="price">m 350,000~</span></p>
                                    <p><span class="kinds">보증금</span><span class="rate">30%</span><span class="price">m 470,000~</span></p>
                                    <p><span class="kinds">무보증</span><span class="rate"></span><span class="price">m 350,000~</span></p>
                                </div>
                            </li>
                            <!--//Rent-->
                            <li> 
                               <div class="mark">
                                   <p>Lease</p>
                               </div> 
                               <img class="product" src="images/slide1.png" alt="">
                                <div class="brand">
                                    <p class="car_name"><img src="images/porsche.png" alt="porsche"> <span class="brand_name">Porsche</span> 2017 Panamera</p>
                                </div>
                                <div class="car_price">
                                    <p><span class="kinds">선수금</span><span class="rate">30%</span><span class="price">m 350,000~</span></p>
                                    <p><span class="kinds">보증금</span><span class="rate">30%</span><span class="price">m 470,000~</span></p>
                                    <p><span class="kinds">무보증</span><span class="rate"></span><span class="price">m 350,000~</span></p>
                                </div>
                            </li>
                            <li> 
                               <div class="mark">
                                   <p>Rent</p>
                               </div> 
                               <img class="product" src="images/slide1.png" alt="">
                                <div class="brand">
                                    <p class="car_name"><img src="images/porsche.png" alt="porsche"> <span class="brand_name">Porsche</span> 2017 Panamera</p>
                                </div>
                                <div class="car_price">
                                    <p><span class="kinds">선수금</span><span class="rate">30%</span><span class="price">m 350,000~</span></p>
                                    <p><span class="kinds">보증금</span><span class="rate">30%</span><span class="price">m 470,000~</span></p>
                                    <p><span class="kinds">무보증</span><span class="rate"></span><span class="price">m 350,000~</span></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="sub_menu_box"> <img class="menu2 button" src="images/btn_prev.png" alt=""> <img class="menu1 button" src="images/btn_next.png" alt=""> </div>
                </div>
                <!--//slide_gallery_box-->
            </div>
            <!--//IMPORTED-->
            <!--consultation-->
            <div class="consultation">
                <div class="consultation_info">
                    <h3>상담신청 현황</h3>
                    <ol class="show_info">
                        <li class="name">이**</li>
                        <li class="title">티볼리 아반떼 k5</li>
                        <li class="date">2018-01-02</li>
                    </ol>
                    <ol class="show_info">
                        <li class="name">이**</li>
                        <li class="title">티볼리 아반떼 k5</li>
                        <li class="date">2018-01-02</li>
                    </ol>
                    <ol class="show_info">
                        <li class="name">이**</li>
                        <li class="title">티볼리 아반떼 k5</li>
                        <li class="date">2018-01-02</li>
                    </ol>
                    <ol class="show_info">
                        <li class="name">이**</li>
                        <li class="title">티볼리 아반떼 k5</li>
                        <li class="date">2018-01-02</li>
                    </ol>
                    <ol class="show_info">
                        <li class="name">이**</li>
                        <li class="title">티볼리 아반떼 k5</li>
                        <li class="date">2018-01-02</li>
                    </ol>
                </div>
                <div class="consultation_form">
                    <h3>상담신청</h3>
                    <div class="form">
                        <ol>
                            <li>
                            <span>Name</span> <input type="text">
                            </li>
                            <li>
                            <span>Phone</span> 
                                <select>
                                    <option value="010">010</option>
                                    <option value="011">011</option>
                                    <option value="016">016</option>
                                </select>
                                - <input type="text"> - <input type="text">
                            </li>
                            <li>
                            <span>Car</span> <input type="text">
                            </li>
                        </ol>
                        <form>
                            <input type="checkbox" id="checkbox">
                            <label for="checkbox"><span>필수사항 수집 동의 (필수)</span></label>
                            <a href="#0" class="check_contents">내용보기</a>
                        </form>
                    </div>
                    <a href="#0" class="consult_btn"></a>
                </div>
            </div>
            <!--//consultation-->
            <!--banner-->
            <div class="banner">
                <img src="images/banner.jpg" alt="">
            </div>
            <!--//banner-->
            <!--NEWS-->
            <div class="type">
                <div class="type_title">
                    <h3 class="float_left">IMPORTED</h3>
                    <h3 class="float_right"><a href="">+MORE</a></h3> 
                </div>
                <div class="news_contents">
                    <ul>
                        <li>
                          <!--출고후기 마크-->
                           <div class="mark red">
                               <p>출고후기</p>
                           </div>
                           <!--//출고후기 마크-->
                            <img src="images/news_1.jpg" alt="">
                            <div class="text">
                                <p class="title">추억의 올드카, 1989 기아 캐피탈</p>
                                <p class="date">2018-01-02</p>
                            </div>
                        </li>
                        <li>
                           <!--포스트 마크-->
                           <div class="mark green">
                               <p>포스트</p>
                           </div>
                           <!--//포스트 마크-->
                            <img src="images/news_1.jpg" alt="">
                            <div class="text">
                                <p class="title">추억의 올드카, 1989 기아 캐피탈</p>
                                <p class="date">2018-01-02</p>
                            </div>
                        </li>
                        <li>
                           <!--동영상 마크-->
                           <div class="mark blue">
                               <p>동영상</p>
                           </div>
                           <!--//동영상 마크-->
                            <img src="images/news_1.jpg" alt="">
                            <div class="text">
                                <p class="title">추억의 올드카, 1989 기아 캐피탈</p>
                                <p class="date">2018-01-02</p>
                            </div>
                        </li>
                        <li>
                           <!--시승기 마크-->
                           <div class="mark purple">
                               <p>시승기</p>
                           </div>
                           <!--//시승기 마크-->
                            <img src="images/news_1.jpg" alt="">
                            <div class="text">
                                <p class="title">추억의 올드카, 1989 기아 캐피탈</p>
                                <p class="date">2018-01-02</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!--//NEWS-->
        </div>
        <!-- //contents-->