        <footer>
           <div class="footerInner">
            <address>
                ㈜오토클릭 서비스 | 대표 박선우 | 사업자 등록번호 214-88-59490<br>
                통신판매업 신고 번호 제2016-서울서초-2018호<br>
                주소 서울 서초구 강남대로 30길 66 (양재동, 산수빌딩 4층)<br>
                Tel 1588-4662 | Fax : 02-3461-6633<br>
                Copyright ⓒ ㈜오토클릭 Corp. All Right Reserved.<br>
            </address>
            <div class="etc">
                <div class="link">
                    <a href="#0">개인정보보호방침</a>
                    <a href="#0" class="naverblog">네이버 블로그</a>
                    <a href="#0" class="naverpost">네이버 포스트</a>
                </div>
                <img class="logo" src="images/hinewcarLogo.png" alt="logo">
                <a href="#0" class="hinewcar_info">회사소개</a>
            </div>
            </div>
        </footer>