        <header id="header">
            <div class="headerInner">
                <h1 class="logo">
                    <a href="index.html">하이뉴카</a>
                </h1>
                <nav id="nav">
                    <ul>
                        <li class="menu m1">
                            <h2><a href="domestics.html"></a></h2> </li>
                        <li class="menu m2">
                            <h2><a href="imported.html"></a></h2> </li>
                        <li class="menu m3">
                            <h2><a href="news.html"></a></h2> </li>
                    </ul>
                </nav>
                <div class="sales">
                    <p class="tell">1588-4662</p>
                    <p class="time">WEEKDAYS  09:00 ~ 18:00</p>
                </div>
            </div>
        </header>