<!DOCTYPE html>
<html lang="ko">
<head>
<% include ./head %>
</head>

<body id="<%= bodyId %>">
	<!-- wrap -->
	<div class="wrap">
	
<% include ./header %>

			<%- body %>
			
<% include ./footer %>
	</div>
	<!--//wrap -->
</body>
</html>